body {
    background-image: url(adam-wilson-6UIonphZA5o-unsplash.JPG);
    
}
div {
    text-align:center;
    color:white;
    font-size: 120px;
    text-underline-position:auto;
}

p {
    text-align: left;
    width: 2500px;
    height: 86px;
    margin-left: 323px;
    margin-right: 204px;
}


h2 {
    text-align: left;
    color: white;
}

